@model Tp03.Core.Entities.Container

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Details</title>
</head>

<body>

  <div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Numero)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Numero)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Tipo)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Tipo)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Tamanho)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Tamanho)
      </dd>
      <dt class="col-sm-2">
        Número BL
      </dt>
      <dd class="col-sm-10">
        @(Model.BillOfLading?.Numero == null ? "---" : Model.BillOfLading.Numero)
      </dd>
    </dl>
  </div>
  <div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
  </div>
</body>

</html>
